table {
  width: 100%;
}

.example-form {
min-width: 150px;
max-width: 500px;
width: 100%;
}

.example-full-width {
width: 50%;
}

div {
text-align: left
}

.search {
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.submit{
  margin-left: 30px;
  margin-bottom: 20px;
}
.columnNames{
font-size: 20px;
font-weight: 500;
color: purple;
border-bottom-width: 4px;

}







